*{
    margin:0;
    padding:0;
}
body{
    overflow: hidden;
    background-color: white;
}
#page{
    color:rgb(0, 0, 0);
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    top:0vh;

    animation-name: pagedown;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;

    font-family: 'Cinzel', serif;
    text-align: center;

    cursor: default;
}
#page h1{
    animation-name: textfade;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;

    font-size: 5vh;
    
    transition: border-bottom .5s;

    width: 50%;
    position: relative;
    left: 25%;
}
@keyframes textfade{
    0%{}
    100%{
        color: rgb(255, 255, 255);
    }
}
@keyframes pagedown{
    100%{
        top: 10vh;
    }
}
#underline{
    border-bottom: 1px solid red;
    width:0%;
    transition: .5s;
    position: relative;
    left:0%;
}
#img1{
    width: 10vw;
    height: auto;
    transition: transform 1s;
    float: left;
    position: relative;
    left: 10vw;
    top: 15vh;
}
#img1:hover{
    transform: rotate(360deg);
    cursor: pointer;
}
#img2{
    width: 10vw;
    height: auto;
    transition: top 1s;
    float: right;
    position: relative;
    left: -10vw;
    top: 15vh;
    background-color: rgb(41, 92, 201);
    border-radius: 5%;
}
#img2:hover{
    top: 13vh;
    cursor: pointer;
}
#img1, #img2{
    animation-name: imgfade;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes imgfade{
    100%{
        opacity: 1;
    }
}
#links{
    display: flex;
    position: relative;
    top: 5%;
    width: 30%;
    height: 35%;
    left: 25%;
    flex-direction: column;
}
#links div{
    display: block;
    position: relative;
    width: auto;
    height: 20%;
    font-size: 4vh;
    font-family: 'Sail', cursive;
    margin-bottom: 10%;
    transition: border 1s, color 2s;
    color: rgb(0, 0, 0);
}


#links div:hover{
    cursor: pointer;
    border-left: 1px solid white;
    border-right: 1px solid white;
}


#aboutme{
    color:white;
}